@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

.body {
  background-color: black;
}

.head-1 {
  font-family: 'Neonderthaw', cursive;
  text-align: center;
  color: white;
}
