@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap');

.body {
  background-color: black;
  color: white;
}

.header-1 {
  font-family: 'Supremecardo One', cursive;
  text-align: center;
}
